{
 "display_name": "pySpark (Spark {{ spark_version }})",
 "language": "python",
 "argv": [
  "/usr/bin/python2",
  "-m",
  "IPython.kernel",
  "-f",
  "{connection_file}"
 ],
 "env": {
  "SPARK_HOME": "/usr/local/{{ spark_version }}",
  "PYTHONPATH": "/usr/local/{{ spark_version }}/python/:/usr/local/{{ spark_version }}/python/lib/py4j-0.8.2.1-src.zip",
  "PYTHONSTARTUP": "/usr/local/{{ spark_version }}/python/pyspark/shell.py",
  "PYSPARK_SUBMIT_ARGS": ""
 }
}